@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#template {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.myGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media (max-width: 768px) {
  .myGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px
}

.mySubGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 15px
}

}

@media (max-width: 576px) {
  .myGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
  .mySubGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px
  }

}

/* About Me */

 .about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  grid-template-areas: 
  "img-selfportrait img-selfportrait img-selfportrait"
  "hd-about hd-about hd-about"
  "txt-about-me txt-about-me txt-about-me";
}

.img-selfportrait {
grid-area: img-selfportrait;
grid-column: 2 / 3;
}

.hd-about {
grid-area: hd-about;
text-align: center;
}

.txt-about-me {
grid-area: txt-about-me;
line-height: 2;
}

 @media (max-width: 992px) {
  .about-grid {
    grid-template-areas: 
    "img-selfportrait hd-about"
    "img-selfportrait txt-about-me";
  }

  .img-selfportrait {
    grid-column: 1 / 2;
    }
    
    .hd-about {
    text-align: left;
    padding-left: 15px;
    }
    
    .txt-about-me {
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .about-grid {
    grid-template-areas: 
    "img-selfportrait hd-about hd-about"
    "img-selfportrait txt-about-me txt-about-me"
    "img-selfportrait txt-about-me txt-about-me";
  }

  .img-selfportrait {
    grid-column: 1 / 2;
    }
    
    .hd-about {
    text-align: center;
    padding-left: 20px;
    }
    
    .txt-about-me {
    padding-left: 20px;
  }
}

@media (max-width: 576px) {
   .about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  grid-template-areas: 
  "img-selfportrait img-selfportrait img-selfportrait"
  "hd-about hd-about hd-about"
  "txt-about-me txt-about-me txt-about-me";
}
.img-selfportrait {
  grid-column: 2 / 2;
  }

  .hd-about {
    text-align: center;
    padding-left: 20px;
    }
}
.navbar-toggler {
  border-color: #ffffff !important;
  background-color: #ffffff;
}
.nav-titles:hover {
  font-size: large;
  font-family: "fantasy, Tangerine", sans-serif;
  text-align: center;
  color: #ffffff !important;
  border-bottom:2px solid thistle;
  border-style: groove;
}
.nav-titles {
  color: thistle !important;
  border-right: 1px solid thistle;
  line-height: 5px;
}

#title, #name {

  color: #ffffff !important;
}

/* #name-title {

  color: #ffffff !important;
} */

body {
  /* background-color: #daf7f8; */
  background-color: #660033;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

nav {
  /* background-image: linear-gradient(to left, #53a4e3, #daf7f8); */
  width: 100%;
  height: auto;
} 

#navigation {
  background-color: #660033!important;
  position: fixed;
  /* background-color: transparent; */
}

#about-me, #hobbies, #portfolio, #contact-me  {
  background-color: thistle !important;
  border-style: solid;
  border: 20px solid #660033 !important;
  display: inline-block;
}
#about-me {
  padding-top: 50px !important;
}

#hobbies, #portfolio {
  padding-top: 0px !important;
}

h1 {
  color: #660033;
  font-weight: bold;
  text-align: center;
  display:inline;
}
h2 {
  color: #8f0d56;
}

p {
  color: black;
}

hr {
  background-color: #660033;
}

#about-me {
  padding-top:100px;
}


.hobbyimages {
  height: 200px;
  width: 250px;
} 

.txt-hobby {
  width: auto;
}

.txt-hobby-title {
  padding-top: 40px !important;
}
/* #name,
#title {
  padding-top: 25px;
  padding-left: 4px;
} */

#cards {
  padding-right: 1px !important;
}

#title {
  font-size: 16px;
  font-family: "fantasy";
  font-weight: lighter;
  
}

#name {
  float: left;
  font-size: large;
  font-weight: 900;
}

#profileImage {
  float: left;
  /* background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b) */
}

.about-me-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* border: 5px solid #8f0d56; */
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
}

.gif {
  max-width: 100%;
}

#portfolio {
  padding-top: 50px;
}

.jumbotron {
  height: 500px;
  background-color: transparent;
  
  width: 100%;
}

.btn-outline-primary:hover  {
  background-color:  #8f0d56 !important;
}

.btn {
border-color: #8f0d56 !important;
}
#btn-submit {

  background-color: #8f0d56 !important;
}

.card {
  background-color: transparent;
  border-color: #8f0d56;
}

#contact-me {
  padding-bottom: 30px;
}

#contact-me-form {
  padding-bottom: 30px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  background-color: #660033;
  padding-top: 15px;
  font-size: 12px;
}
/*---Media Queries --*/
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/
/* .carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
} */

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('./assets/images/backgroundimage.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 3rem;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/